#username password files
db_user_password

#dojo installs and updated
www/dojo-install-version
www/dojo
www/dijit
www/dojox
www/jsPlumb
www/util
www/math-parser
www/node_modules

#OS specific files
.DS_Store
*.swp
*.jar
Thumbs.db
