#username password files
db_user_password

#dojo installs and updated
www/dojo-install-version
www/dojo
www/dijit
www/dojox
www/jsPlumb
www/util
www/math-parser
www/node_modules
www/errorShots
www/math-solver

#OS specific files
.DS_Store
*.swp
*.jar
Thumbs.db

# Build and test stuff
release
tests/scripts/test-paths.js
