@import url("../dojo/resources/dojo.css");
@import url("../dijit/themes/dijit.css");
@import url("../dijit/themes/claro/layout/BorderContainer.css");
@import url("../dijit/themes/claro/layout/ContentPane.css");
@import url("../dijit/themes/claro/layout/AccordionContainer.css");
@import url("../dijit/themes/claro/form/Button.css");
@import url("../dijit/themes/claro/form/Checkbox.css");
@import url("../dijit/themes/claro/form/Select.css");
@import url("../dijit/themes/claro/form/Slider.css");
@import url("../dijit/themes/claro/Menu.css");
@import url("../dijit/themes/claro/Dialog.css");
@import url("../dijit/themes/claro/document.css");
@import url("state-machine.css");
/*For styling the rich text editor*/
@import url("../dijit/themes/claro/Toolbar.css");
@import url("../dijit/themes/claro/Editor.css");
@import url("../dijit/icons/editorIcons.css");

html, body, #main{
    width:100%; /* make the body expand to fill the visible window */
    height:100%;
    padding:0 0 0 0;
    margin:0 0 0 0;
    font:10pt Arial,Myriad,Tahoma,Verdana,sans-serif !important;
}
