.equation {
	position: absolute;
	border: 3px solid black;
	padding: 4px 7px;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor: move;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
	width: 100px;
	height: auto;
	max-height: 48px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
	z-index: 24;
}

.quantity {
	border: 3px solid;
	position: absolute;
	/*
	* apparently giving high radius gives a capsule shape
	* http://stackoverflow.com/questions/18794947
	* this seems to be a hack leaving it just in case it is needed
	*/
	border-radius: 500px;
	/*border-radius: 10%/50%; this is height dependent*/
	padding: 4px 7px;
	text-align: center;
	width: 100px;
	height: auto;
	max-height: 48px;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor: move;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
	z-index: 20;
}

.equationWrapper, .quantityWrapper {
	overflow: hidden!important;
	-ms-text-overflow:ellipsis;
	text-overflow:ellipsis;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-line-clamp: 4;
	-moz-line-clamp: 4;
	-o-line-clamp: 4;
	line-height: 11px;        /* fallback */
	max-height: 44px;
}

.circle{
	width: 60px;
	height: 60px;
	border: 3px solid black;
	border-radius: 50%;
	background-color: grey;
	color: white;
	text-align: center;
	vertical-align: middle;
	z-index: 20;
}

/*.circleWrapper{
	padding: 10px;
}*/
/*css for description on the side for model*/
.equation-description-wrapper, .quantity-description-wrapper{
	width: 210px;
	height: 100%;
	float: left;
	text-align: center;
}

.clear{
	clear: both;
}

.equationDescription, .quantityDescription{
	width: 200px;
	margin: 0 auto 1px auto;
}

.equationDescription{
	border: 1px black solid;
}

.quantityDescription{
	border: 3px solid;
}

.incomplete{
	border-style: dotted;
}

/* css for path color and end point color for node structure for model UI*/
path {
	cursor:pointer;
	pointer-events: visiblestroke;
	stroke:rgb(92, 150, 188);
	stroke-width: 2px;
}

.ep {
	position:absolute;
	bottom: 37%;
	right: 5px;
	width:1em;
	height:1em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

circle{
	fill: rgb(92, 150, 188);
}
